#clientForm-back::after {
    content: 'ENTREGADO';
    font-size: 95px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 300px;
    left: 100px;
    transform: rotate(320deg);
    position: fixed;
    color: rgba(255, 146, 56, 0.11);
    /* z-index: -1 */
}

::-webkit-scrollbar {
    display: none;
}

#clientForm,
#clientForm-back {
    display: flex;
    margin: 25px auto;
    flex-direction: column;
    max-width: 800px;
    min-width: 500px;
    background-color: mintcream;
    box-shadow: 20px 20px 30px darkslategrey;
    padding: 40px 60px;
    border-radius: 3px;
}

.formInput,
.form-select,
.data-dselect-text {
    background: none;
    border: none;
    color: #000000cc;
}

.inputUnderLine {
    border-bottom: 1px solid #2f4f4f33;
}

.problema {
    width: 100%;
}

.form-group {
    margin: 15px 0px;
}

.device-brand-model {
    display: flex;
    justify-content: space-between;
}

.sendBtn {
    background: rgba(216, 112, 147, 0.445);
    border: none;
}

#sendBtn {
    font-size: 1rem;
}

#title {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.title {
    margin: auto;
    color: #000000a8;
}

#formContainer {
    margin: 0px auto;
    max-width: 800px;
    min-width: 500px;
}

.contacto,
.firma {
    width: 100%;
}

.nombreApellidoContainer,
.presupuestoFechaContainer {
    display: flex;
    margin-top: 0;
    gap: 3%;
}

.nombreLabel,
.dniLabel,
.presupuestoLabel,
.fechaLabel {
    border-bottom: 1px solid #2f4f4f33;
    flex-grow: 1;
}

.presupuestoLabel,
.fechaLabel {
    border-bottom: none;
    color: #000000cc;
}

#nombreApellido,
#nombreApellido-back,
#dni,
#dni-back {
    width: 100%;
}

.formLabel {
    color: #000000cc;
}

.limpiarFirma {
    font-style: normal;
    font-size: .9rem;
}

.signContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#signImage {
    border: 1px solid #999;
    width: 350px;
    height: 250px;
}

.fechasContainer {
    display: flex;
    gap: 2.5rem;
}

#fechaDiagnostico,
#fechaReparacion {
    width: 105px;
}

#fechasContainerBack {
    gap: 0
}

#problema,
#problema-back,
.form-select {
    background: none;
}

#dispositivo-back,
#marca-back,
#modelo-back {
    background: none;
    border: none;
}

#dniLabel-back {
    display: flex;
    align-items: baseline;
}

#sendBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

#sendBtn-back-container {
    width: 100%;
}

#sendBtn-back {
    width: 100%;
}

.pageLink {
    margin: 0;
    font-weight: bold;
    user-select: none;
    animation-name: scale;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#goFwdPage,
#goBackPage {
    display: none;
}

#sign {
    width: 100%;
}